* {
    box-sizing: border-box;
}

html {
  font-size: 62.5%;
}


body {
    font-family: "Inter", sans-serif;
    margin: 0;
    background-color: #2A2A2A;
}

.nav-header{
    background-color: #FF6B1A;
    width:100%;
    height:13rem;
    display:grid;
    row-gap: 0.5rem;
    justify-content: center;
}

.logo-content{
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1.2rem;
    align-items: center;
}
.logo{
    width:2.4rem;
    height:2rem;
    justify-content: flex-end;
}

.nav-title {
    font-size:2.4rem;
    font-weight: 700;
    color:white;
}

.nav-caption {
    font-size: 1.4rem;
    font-weight:500;
    color:white;
    grid-column: span 2;
    
}

.nav-menu {
    height: 7.1rem;
    width: 100%;
    background-color: #1A1A1A; 
    display: flex;
    align-items: center; 
}

.nav-button {
    background-color: #FF6B1A;
    display:flex;
    border-radius: 0.8rem;
    margin-left: 1.3rem;
    align-items: center;
    justify-content: center;
    width:10.3rem;
    height:3.7rem;
    gap:0.5rem;
}

.nav-button p{
    color:#FFFFFF;
    font-size:1.9rem;
    font-weight:500;
}

.hero-title{
    font-size: 2.4rem;
    font-weight: 700;
    color:#FFFFFF;
}

.hero-small-text{
    font-size:1.6rem;
    font-weight: 500;
    color:rgba(255, 255, 255, 0.9)
}

.hero{
    width:100%;
    height:37.7rem;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-image{
    width:15.1rem;
    height:12.6rem;
    position: relative;
}

.hero-overlay{
    background-color: rgba(42, 42, 42, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:1;
}
.hero-text{
    position: absolute;
    z-index:2;
    padding:13.2rem 2.5rem;
}