* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  font-size: 62.5%;
}


body {
    font-family: "Inter", sans-serif;
    margin: 0;
    background-color: #2A2A2A;
}

p {
    font-size: 1.6rem;
}

h1, h2, h3 { font-size: 2.4rem; font-weight: 700; }
h1, h2 {color:white;}

.nav-header{
    background-color: #FF6B1A;
    width:100%;
    height:auto;
    padding:4rem;
    display:grid;
    row-gap: 0.5rem;
    justify-content: center;
}

.logo-content{
    display: flex;
    gap: 1.2rem;
    align-items: center;
}

.logo{
    width:2.4rem;
    height:2rem;
    justify-content: flex-end;
}

.nav-caption {
    font-size: 1.4rem;
    font-weight:500;
    color:white;
    grid-column: span 2;
    
}

nav {
    display:none;
}

.nav-menu {
    height: 7.1rem;
    width: 100%;
    background-color: #1A1A1A; 
    display: flex;
    align-items: center; 
}

.nav-button {
    background-color: #FF6B1A;
    display:flex;
    border-radius: 0.8rem;
    margin-left: 1.3rem;
    align-items: center;
    justify-content: center;
    width:10.3rem;
    height:3.7rem;
    gap:0.5rem;
}

.nav-button p{
    color:#FFFFFF;
    font-size:1.9rem;
    font-weight:500;
}

.hero-small-text{
    font-weight: 500;
    color:rgba(255, 255, 255, 0.9);
    line-height: 1.875;
    margin-top:1.5rem;
}

.hero{
    width:100%;
    height:37.7rem;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-image{
    width:15.1rem;
    height:12.6rem;
}

.hero-overlay{
    background-color: rgba(42, 42, 42, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:1;
}
.hero-text{
    position: absolute;
    z-index:2;
    padding:13.2rem 2.5rem;
}

.hero-image {
    animation:dance 10s ease-in-out 1s infinite;
}

@keyframes dance{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);
    }
}

.cards{
    background-color: #F5F5F5;
    display:grid;
    grid-template-columns: 1fr;
    align-items:center;
    justify-content: center;
    gap:3rem;
    padding:0.9rem 2.5rem 19rem 2.5rem;
}

.card-item{
    padding:2.3rem 2.6rem 6.2rem 2.4rem;
    border-radius: 1.2rem;
    border-top:0.4rem solid #FF6B1A;;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    min-height: 3.24rem;
    display:flex;
    flex-direction: column;
    gap:1rem;
}

.card-header{
    display: flex;
    gap:0.8rem;
}

.icon {
    max-width: 2.8rem;
    height: auto;
}

.card-item p{
    font-weight: 400;
    color:#666666;
}

footer{
    width:100%;
    height:9rem;
    display:flex;
    align-items: center;
    justify-content: center;
}

footer p{
    color:#FFFFFF;
    font-weight: 500;
    font-size:1.2rem;
}

@media (min-width:768px) {
h1, h2 { font-size: 4rem; font-weight: 700; color:white;}
h3 {font-size:2.4rem;}
p {font-size: 1.8rem; font-weight: 500; color:rgba(255, 255, 255, 0.9);}

.nav-menu{
    justify-content: center;
}


.nav-button{
    display: none;
}

nav{
    display: block;
    justify-content: center;
}

nav ul {
    display:flex;
    gap:6.1rem;
    justify-content: center;
    align-items: center;
    list-style-type:none;
}

nav li a{
    color:#FFFFFF;
    font-size:1.7rem;
    font-weight:500;
    text-decoration: none;
}

nav li a.active {
    background-color: #FF6B1A;
    display:flex;   
    border-radius: 0.8rem;
    margin-left: 1.3rem;
    align-items: center;
    justify-content: center;
    width:10.3rem;
    height:3.7rem;
}

.logo{
    width:5.7rem;
    height:4.8rem;
}

.nav-caption{
    text-align: center;
}

.hero-image{
    width:30.2rem;
    height:25.3rem;
}

.cards{
    grid-template-columns: repeat(2, 32.4rem);
    gap:30px;
    padding: 3.1rem 2rem 14.5rem;
}

.card-item{
    height:20rem;

}
.card-header{
    gap:1rem;
}


.card-item p{
    font-size:1.6rem;
    font-weight: 400;
    color:#666666;
}


footer p{
    font-size:1.6rem;
}
}


@media (min-width:1200px) {
    .cards{
    grid-template-columns: repeat(3, 32.4rem);
}
}
